.fullscreen {
	width: 100%;
}

.ng-touched .ng-invalid-required {
	border-color: red;
}
.ng-dirty .ng-invalid {
	border-color: red;
}
.ng-untouched .ng-invalid {
	border-color: #ccc; 
}
.ng-submitted input .ng-invalid{
	border-color: red;
}

footer {
	background:#333;
	color:#fff;
	padding:5px 0;
	text-align:center;
}