<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Configuration -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fiveware</property>
		<property name="hibernate.connection.username">fiveware</property>
		<property name="hibernate.connection.password">fiveware</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>

		<!-- Entities -->
		<mapping class="org.fiveware.model.entity.Product" />
		<mapping class="org.fiveware.model.entity.ProductType" />
		<mapping class="org.fiveware.model.entity.ProductAvailability" />

	</session-factory>

</hibernate-configuration>